@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@width_all: 1920px;
@min_width: 480px;

* {
    margin: 0;
    padding: 0;
}

.text_style(@family, @size, @weight) {
    font-family: @family;
    font-size: @size;
    font-weight: @weight;
}

.padding_site(@top, @right, @bottom, @left) {
    padding: @top @right @bottom @left;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: @width_all;
    min-width: @min_width;
}

.header-img {
    max-height: 725px;
    position: relative;
}

.header-img_img {
    display: block;
    width: 100%;
}

header {
    width: 100%;
    margin-top: 13px;
}

.header-wrapper {
    width: 100%;
    margin-top: -4px;
    position: absolute;
    top: 0;
}

.header-up {
    display: flex;
    width: @width_all;
    width: 100%;
    height: 83px;
    background-color: rgba(0, 0, 0, 0.5);
    &_content {
        width: @width_all - 950px;
        margin: 0 auto;
        display: flex;
        &_logo {
            margin: 16.5px 0;
            display: inline-block;
            width: 18%;
            &_link {
                text-decoration: none;
                height: 50px;
                width: 100%;
                display: inline-block;
                &_logo-1 {
                    display: block;
                    font-family: 'Poppins';
                    font-size: 36px;
                    font-weight: 500;
                    letter-spacing: 0.36px;
                    text-align: left;
                    color: #ffffff;
                    width: 100%;
                    height: 34px;
                    line-height: 34px;
                }
                &_logo-2 {
                    display: block;
                    font-family: 'Poppins';
                    font-size: 15px;
                    font-weight: 500;
                    letter-spacing: 30px;
                    text-align: left;
                    color: #ffffff;
                    width: 100%;
                    height: 16px;
                    line-height: 16px;
                }
            }
            &:hover .header-up_content_logo_link_logo-1 {
                color: #8ba3af;
            }
            &:hover .header-up_content_logo_link_logo-2 {
                color: #8ba3af;
            }
            &:active .header-up_content_logo_link_logo-1 {
                color: #ffffff;
            }
            &:active .header-up_content_logo_link_logo-2 {
                color: #ffffff;
            }
        }
        &_contacts {
            margin: 27.5px 0;
            display: inline-block;
            width: 30%;
            &_img {
                float: right;
                margin-right: 15px;
            }
            &_item {
                display: block;
                letter-spacing: 0.17px;
                color: #ffffff;
                float: right;
                line-height: 28px;
                .text_style('RobotoCondensed', 17px, 400);
            }
        }
        &_email {
            margin: 27.5px 0;
            display: inline-block;
            width: 22%;
            &_link {
                letter-spacing: 0.17px;
                color: #ffffff;
                float: right;
                line-height: 28px;
                text-decoration: none;
                .text_style('RobotoCondensed', 17px, 400);
                &:hover {
                    text-decoration: underline;
                }
                &:active {
                    text-decoration: none;
                }
            }
            &_img {
                float: right;
                margin-right: 15px;
                margin-top: 4px;
            }
        }
        &_search {
            display: flex;
            align-items: center;
            width: 21.2%;
            margin-left: 85px;
            position: relative;
            &_input {
                width: 100%;
                height: 38px;
                background: rgba(255, 255, 255, 0);
                border: 1px solid #ffffff;
                padding: 0 63px 0 17px;
                box-sizing: border-box;
                color: #ffffff;
                letter-spacing: 0.17px;
                .text_style('RobotoCondensed', 17px, 400);
            }
            &_button {
                background: transparent;
                border-left: 1px solid #fff;
                border-right: none;
                border-top: none;
                border-bottom: none;
                position: absolute;
                right: 0px;
                top: 22.5px;
                padding: 9.5px 15px;
                height: 38px;
                cursor: pointer;
                &_img {
                    display: block;
                }
                &:active {
                    padding: 9.5px 13px 9.5px 17px;
                }
            }
        }
    }
}

.header-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_menu {
        margin: 28.5px 0;
        &_list {
            list-style-type: none;
            float: left;
            &_link {
                display: block;
                letter-spacing: 0.17px;
                color: #000000;
                text-decoration: none;
                padding: 0 15px;
                text-align: center;
                .text_style('RobotoCondensed', 17px, 400);
                &:hover {
                    color: #ffffff;
                }
                &:active {
                    color: #000000;
                }
            }
            &_link-active {
                color: #ffffff;
            }
        }
        &_list-active {
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 57px;
                height: 3px;
                background-color: #ffffff;
                position: absolute;
                bottom: -30px;
                left: 6.75px;
            }
            &:active:after {
                background-color:transparent;
            }
        }
    }
    &_line {
        width: 100%;
        border-bottom: 1px solid #ffffff;
        background-color: #ffffff;
    }
}

.xz-chto-eto {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    letter-spacing: 0.18px;
    width: 110px;
    margin: 134px auto 0 auto;
    .text_style('RobotoCondensed', 18px, 400);
    &:after {
        content: "";
        display: block;
        width: 80px;
        height: 2px;
        margin-top: 16px;
        background-color: #ffffff;
    }
}

.header-wrapper_title {
    margin: 74px 0;
    color: #ffffff;
    letter-spacing: 0.6px;
    text-align: center;
    line-height: 58px;
    .text_style('Poppins', 60px, 500);
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 195px;
    margin: 0 auto;
    &_item {
        display: block;
        height: 40px;
        width: 40px;
        &:first-child {
            background-image: url('../img/facebook_logo.png');
        }
        &:nth-child(2) {
            background-image: url('../img/twitter_logo.png');
        }
        &:nth-child(3) {
            background-image: url('../img/rss_feed.png');
        }
        &:last-child {
            background-image: url('../img/vk_logo.png');
        }
    }
}

.about-us {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    .padding_site(80px, 0, 80px, 0);
    &_content {
        width: 21.02%;
        margin-left: auto;
        &_title {
            color: #f44336;
            margin-bottom: 20px;
            .text_style('Poppins', 36px, 500);
        }
        &_text {
            color: #999999;
            letter-spacing: 0.12px;
            line-height: 24px;
            .text_style('RobotoCondensed', 12px, 300);
            &:last-child {
                margin-top: 30px;
            }
        }
    }
    &_img {
        margin-right: auto;
        margin-left: 33px;
    } 
}

.services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f7f7f7;
    .padding_site(92px, 0, 106px, 0);
    &_title {
        width: 100%;
        color: #f44336;
        text-align: center;
        line-height: 34px;
        margin-bottom: 90px;
        .text_style('Poppins', 36px, 500);
    }
    &_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        width: 990px;
        min-height: 448px;
        &_item {
            display: flex;
            &:nth-child(2n) .services_content_item_img {
                margin-right: 66px;
            }
            &:nth-child(2n) .services_content_item_description {
                margin-right: 0;
            }
            &:nth-child(2n) .services_content_item_description_title {
                text-align: start;
            }
            &:nth-child(2n) .services_content_item_description_text {
                text-align: start;
            }
            &_img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 102px;
                height: 102px;
                border-radius: 50%;
                background-color: #e1e1e1;
                border: 1px solid #acacac;
                box-sizing: border-box;
            }
            &_description {
                width: 282px;
                margin-right: 66px;
                &_title {
                    margin-bottom: 12px;
                    color: #000000;
                    text-align: right;
                    .text_style('Poppins', 16px, 500);
                }
                &_text {
                    color: #999999;
                    letter-spacing: 0.12px;
                    text-align: right;
                    line-height: 20px;
                    .text_style('RobotoCondensed', 12px, 400);
                }
            }
            &:hover .services_content_item_description_title {
                color: #f44336;
            }
            &:hover .services_content_item_img {
                background-color: #f44336;
            }
        }
    }
}

.our-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .padding_site(80px, 0, 186px, 0);
    &_title {
        width: 100%;
        color: #f44336;
        text-align: center;
        line-height: 48px;
        margin-bottom: 90px;
        .text_style('Poppins', 36px, 500);
    }
    &_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1171px;
        &_item {
            width: 271px;
            &_photo {
                display: block;
            }
            &_description {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #f7f7f7;
                .padding_site(18px, 0, 13px, 0);
                &_text,
                &_text-2 {
                    color: #000000;
                    line-height: 20px;
                    letter-spacing: 0.14px;
                    text-transform: uppercase;
                    .text_style('Poppins', 14px, 500);
                }
                &_text-2 {
                    text-transform: capitalize;
                }
                &_button {
                    width: 130px;
                    line-height: 30px;
                    margin-top: 25px;
                    background-color: #f44336;
                    color: #ffffff;
                    letter-spacing: 0.14px;
                    text-decoration: none;
                    text-align: center;
                    .text_style('Poppins', 14px, 500);
                    &:hover {
                        box-shadow: 0px 2px 5px 0px #f44336;
                    }
                    &:active {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}