* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 358px;
}
.header_img {
  max-height: 725px;
  position: relative;
}
header {
  width: 100%;
  margin-top: 13px;
}
.header_wrapper {
  margin-top: -4px;
  position: absolute;
  top: 0;
}
.header_up {
  display: flex;
  width: 1920px;
  height: 83px;
  background-color: rgba(0, 0, 0, 0.5);
}
.header_up .header_up_wrapper {
  width: 970px;
  margin: 0 auto;
  display: flex;
}
.header_up .header_up_wrapper .logo {
  margin: 16.5px 0;
  display: inline-block;
}
.header_up .header_up_wrapper .logo .logo_link {
  text-decoration: none;
  height: 50px;
  width: 100%;
  display: inline-block;
}
.header_up .header_up_wrapper .logo .logo_link .logo_p1 {
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.36px;
  text-align: left;
  color: #ffffff;
  width: 100%;
  height: 34px;
  line-height: 34px;
}
.header_up .header_up_wrapper .logo .logo_link .logo_p2 {
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 30px;
  text-align: left;
  color: #ffffff;
  width: 100%;
  height: 16px;
  line-height: 16px;
}
.header_up .header_up_wrapper .contacts {
  margin: 27.5px 0;
  display: inline-block;
}
.header_up .header_up_wrapper .contacts .contacts_img {
  float: right;
  margin-right: 15px;
}
.header_up .header_up_wrapper .contacts .contacts_p {
  font-family: 'Roboto';
  font-size: 17px;
  letter-spacing: 0.17px;
  color: #ffffff;
  float: right;
  line-height: 28px;
  margin-right: 20px;
}
.logo,
.contacts {
  width: 242.5px;
}
.header_down {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header_down .menu {
  height: 78px;
  margin: 0 auto;
  line-height: 78px;
}
.header_down .menu .menu_list {
  list-style-type: none;
  float: left;
}
.header_down .menu .menu_list .menu_link {
  font-family: 'Roboto Condensed';
  font-size: 17px;
  letter-spacing: 0.17px;
  color: #000000;
  text-decoration: none;
  padding: 28px 10px;
  font-stretch: condensed;
  margin: 0 5px;
}
.header_down .menu .menu_list .menu_link:hover {
  color: #ffffff;
}
.header_down .menu .menu_list .menu_link:active {
  color: #b60965;
  border-bottom: none;
}
.header_down .menu .menu_list .menu_link_active {
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
}
.header_down .header_down_line {
  width: 1920px;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}
